   <!-- 3. Features -->
    <section class="features-section" id="features">
        <h2>{{'LANDING.FEATURES.TITLE' | translate}}</h2>
        <div class="features-grid">
            <mat-card class="feature-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>eco</mat-icon> {{'LANDING.FEATURES.NANNY.TITLE' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{'LANDING.FEATURES.NANNY.P1' | translate}}</p>
                    <p>{{'LANDING.FEATURES.NANNY.P2' | translate}}</p>
                    <p>{{'LANDING.FEATURES.NANNY.P3' | translate}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="feature-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>water_drop</mat-icon> {{'LANDING.FEATURES.CHEF.TITLE' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{'LANDING.FEATURES.CHEF.P1' | translate}}</p>
                    <p>{{'LANDING.FEATURES.CHEF.P2' | translate}}</p>
                    <p>{{'LANDING.FEATURES.CHEF.P3' | translate}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="feature-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>add_a_photo</mat-icon> {{'LANDING.FEATURES.DETECTOR.TITLE' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{'LANDING.FEATURES.DETECTOR.P1' | translate}}</p>
                    <p>{{'LANDING.FEATURES.DETECTOR.P2' | translate}}</p>
                    <p>{{'LANDING.FEATURES.DETECTOR.P3' | translate}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="feature-card">
                <mat-card-header>
                    <mat-card-title><mat-icon>smart_toy</mat-icon> {{'LANDING.FEATURES.BRAIN.TITLE' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{'LANDING.FEATURES.BRAIN.P1' | translate}}</p>
                    <p>{{'LANDING.FEATURES.BRAIN.P2' | translate}}</p>
                    <p>{{'LANDING.FEATURES.BRAIN.P3' | translate}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
