.lang-select { display:flex; align-items:center; min-width:130px; padding-left: 10px;}
.lang-select .mat-select { color: inherit;}
.lang-select .mat-select-trigger { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.mat-select-value { color: inherit; }
.main-nav .lang-select { margin-right: auto; }
