.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  flex: 1;
  margin-top: 64px;
}

mat-sidenav {
  width: 250px;
  border-right: 1px solid rgba(0, 230, 118, 0.1);
}

