.logo {
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.badge {
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 4px;
  letter-spacing: 0.05em;
}

.badge-b2b-nav {
  background: rgba(31, 210, 255, 0.2);
  color: #b388ff;
}

.badge-bo-nav {
  background: rgba(255, 121, 31, 0.2);
  color: #ffc188;
}

.badge-api-nav {
  background: rgba(31, 154, 255, 0.2);
  color: #88a8ff;
}
