// Custom Theming for Angular Material
@use '@angular/material' as mat;
@use '../src/assets/themes/default_theme-colors.scss';
@use '../src/assets/themes/data-api_theme-colors.scss';
@use '../src/assets/themes/b2b_theme-colors.scss';
@use '../src/assets/themes/bo_theme-colors.scss';

@include mat.core();

$aitoflower-default-theme: mat.define-theme(
  (
    color: (
      primary: default_theme-colors.$primary-palette,
      tertiary: default_theme-colors.$tertiary-palette,
      theme-type: dark,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);
$aitoflower-data-api-theme: mat.define-theme(
  (
    color: (
      primary: data-api_theme-colors.$primary-palette,
      tertiary: data-api_theme-colors.$tertiary-palette,
      theme-type: dark,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);
$aitoflower-b2b-theme: mat.define-theme(
  (
    color: (
      primary: b2b_theme-colors.$primary-palette,
      tertiary: b2b_theme-colors.$tertiary-palette,
      theme-type: dark,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);
$aitoflower-bo-theme: mat.define-theme(
  (
    color: (
      primary: bo_theme-colors.$primary-palette,
      tertiary: bo_theme-colors.$tertiary-palette,
      theme-type: dark,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles
@include mat.all-component-themes($aitoflower-default-theme);

.default-theme {
  @include mat.all-component-themes($aitoflower-default-theme);
}
.data-api-theme {
  @include mat.all-component-themes($aitoflower-data-api-theme);
}
.b2b-theme {
  @include mat.all-component-themes($aitoflower-b2b-theme);
}
.bo-theme {
  @include mat.all-component-themes($aitoflower-bo-theme);
}

/* Global Styles */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #0d0d0d;
  color: #e0e0e0;
}
.mat-pseudo-checkbox {
  display: none !important;
}

/* Material Symbols Configuration */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
